.mainContainer{
    background-color: white ;
    padding: 2%;
}

.sideNavigation{
    padding: 2px;
    background-color:white    ;
    height: 100%;
    position:relative;
    margin-top: 10px;
}

.sideContainer{
    padding: 5px !important;
    background-color: white;
    height: 1200px;
}

.sideNavLink{
    background-color: #ffccbc !important ;
}

.tabHeader{
    text-align: center;
    color: white;
    font-weight: 400;
    width: 100%;
    margin: inherit;
    background-color: rgb(2 143 197) !important;
}

.companyPosition{
    font-weight: 700;
}

.company{
    font-weight: 500;
    margin-top: -15px !important;
    color: #0091ea ; 
}

.companyText{
     font-weight: 300;
     margin-top: -15px !important;   
}

.ulText{
    margin-top: -10px;
    font-weight: 300;
}

.navLink{
    color:  rgb(2 143 197); 
    font-weight: 500;
}

.divCarousel{
    margin-top: 10px; 
}